.banner-section {
    width: 100%;
    height: 674px;
    background-color: black;
    background-image: url('../../assets/banner.svg');
    background-size: cover;
    background-position: center;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    display: flex;
    align-items: center;
}

.banner-section::before {
    right: 0;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0012338F;
}

.banner-content {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    z-index: 1;
}

.banner-title {
    height: 92px;
    width: 297px;
    background-color: #6BD1FF;
    border-radius: 20px;
    display: grid;
    place-content: center;
    font-size: 48px;
    font-weight: 800;
}

.banner-description {
    width: 50%;
}

.banner-description > h2 {
    font-size: 45px;
    font-weight: 800;
}

.banner-description > p {
    font-size: 20px;
    font-weight: 400;
}

.banner-description > a {
    width: 40%;
}

.banner-image {
    transition: all 300ms;
}

.banner-image:hover {
    box-shadow: 0px 0px 24px #6BD1FF;
}





@media (max-width: 1024px) {
    .banner-title {
        height: 65px;
        width: 282px;
        font-size: 32px;
        font-weight: 800;
    }
}

@media (max-width: 750px) {
    .banner-section {
        display: none;
    }
}